h1 {
    color : gold;
    text-align: center;
    text-decoration: underline;
    font-size : 3.6em;
}

.column {
    display: flex;
    flex-direction : column;
    max-width : 1200px;
    margin : auto;
}
.row {
    justify-content: space-around;
    display : flex;
    margin-top : 20px;
}

#start {
    background-color: royalblue;
    color : white;
    padding : 15px 20px 15px 20px;
    font-size: 1.6em;
}

.score {
    font-size : 1.6em;
}